*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  background-color: #fff;
  height: 15vh;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  position: relative;
}
.udemylogo{
  width: 10%;
}
.forms{
  background-color:#f7f9fa;
  width: 500px;
  height:50px;
  border-radius: 30px;
  padding:10px 30px;
  font-size: x-large;
  border: 1px solid black;
}
.dropbtn{
  font-weight: 100;
  font-size: x-large;
  font-family: sans-serif bold;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  color: purple;
  font-weight: bolder;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
 width: 50%;
  height: 550px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: 700px;
  margin-left: 100px;
}
.dropdown-content a {
  color: black;
  padding: 15px 50px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover 
{ color: purple;
  font-weight: bolder;
}
.show 
{display:block;}

.cart{
  width: 4%;
}
.btn-light{
  width: 120px;
  height:60px;
  font-size: x-large;
  background-color:#f7f9fa;
  border: 1px solid dark;
}
.btn-dark{
  width: 120px;
  height:60px;
  background-color: black;
  color: white;
  font-size: x-large;
}
.worldwide{
  width: 70%;
}
.btn-lights{
  width: 60px;
  height:60px;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color:#f7f9fa;
}
.rightimg{
  width: 3%;
/* height: 15px; */
margin-left: 500px;
font-weight: bolder;
}
.dropinnerbtn{
  color:black;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
}
.dropdowns {
  position: relative;
  display: inline-block;
}
.dropdown-inner {
  display: none;
  position: absolute;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 30px 20px;
  margin-left: 300px;
  height: 550px;
  bottom: -520px;
  gap: 10px;
}
.dropdown-inner a{
  color: black;
  /* padding: 105px 50px; */
  text-decoration: none;
  display: block;
  height: 500px;
}
.hee{
  margin-top: 30px;
}
.dropdown-inner a:hover {
  background-color: #ddd;
}
.dropdowns:hover .dropdown-inner {
  display: block;
}
.dropdowns:hover .dropinnerbtn {
  color: purple;
}
.sec-one{
 background-image: url(./images/female.jpg);
  height: 70vh;
  padding: 30px 40px;
 
}
.sect-text{
  background-color: white;
  width: 40%;
  height: 50vh;
  padding: 30px 40px;
}
.learn{
  font-size: 50px;
}
.skills{
  font-size: 25px;
  margin-top: 20px;
  font-weight: 100;
}
.skill{
  font-size: 25px;
  margin-top: 10px;
  font-weight: 100;
}
.sec-two{
  background-color: white;
  height: 200vh;
  padding: 30px 40px;
}
.brand{
  font-size: 30px;
}
.choose{
  font-size: 30px;
  padding: 30px 0;
  font-weight: 100;
}
.lang{
  display: flex;
  align-items: center;
  justify-content:space-between;
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
  list-style: none;
}
a{
  list-style: none;
  text-decoration: none;
  color: #6a6f73;
}
a:hover {
  color: black;
  font-weight: bolder;
}
.aws{
  color: black;
}
.draw{
  background-color: white;
  height: 150vh;
  border: 1px solid #6a6f73;
  padding: 60px 40px;
  margin: 20px 0;
  line-height: 30px;
}
.expand{
  font-size: 38px;
}
.take{
  font-size: 22px;
  margin-top: 20px;
  color: #121414;
  font-weight: 100;
}
.simp{
  font-size: 22px;
  color: #121414;
  font-weight: 100;
}
.btn{
  width: 170px;
  height: 50px;
  margin: 20px 0;
  font-size: 20px;
  border: 1px solid black;
  background-color: white;
  font-weight: bolder;
}
.row{
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.colone{
  height: 80vh;
  width: 30%;
}
.coltwo{
  height: 80vh;
  width: 30%;
}
.colthree{
  height: 80vh;
  width: 30%;
}
.col-oneimage{
  width: 100%;
  height: 30vh;
 /* text-align: center; */
}
.coltwoimage{
  width: 100%;
  height: 30vh;
}
.colthreeimage{
  width: 100%;
  height: 30vh;
}
.pty{
  margin-top: 10px;
  
}
.ptys{
  margin-top: 10px;
  font-size: 23px;
  font-weight: bolder;
}
.shine{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.starim{
  width: 50%;
}
.num{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
.best{
  width: 100px;
  height: 30px;
  margin: 20px 0;
  font-size: 15px;
  border: none;
  background-color: rgb(201, 181, 68);
  font-weight: bolder;
}
.und{
  text-decoration: line-through;
  color:#6a6f73;
}
.bol{
  font-weight: bolder;
  font-size: larger;
}
.faint{
  color:#6a6f73;
  font-weight: 100;
}